## ENV
## You can see the readme or .tex file for the information
NODE_ENV=test|development|staging|production
LOG=all|none|prisma|ftp
E_SALT=

## FTP
FTP_CONFIG=
FTP_HOST=
FTP_USERNAME=
FTP_PASSWORD=
FTP_HOME_DIR=/ftp/admin
TUS_FTP_TEMP_DIR=/ftp/tus-temp

## GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

## DATABASE
DATABASE_URL=